/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --color-brand: #819b57;
  --color-brand-dark: #465929;
}
/* Base styles */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  color: var(--primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
.section {
  padding: 48px 0;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Buttons */
.button {
  color: var(--primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand-dark);
}
.button:focus {
  color: var(--primary-light);
  background-color: transparent;
  border: 2px solid var(--color-brand);
}
.button-order[disabled] {
  color: darkgray;
  border: 2px;
  background-color: darkslategrey;
}
/* Links */
.link {
  color: var(--primary-light);
  text-decoration: none;
  line-height: 1.5;
}
.link:hover {
  color: var(--color-brand);
  /* font-weight: 600; */
}
/* Header section */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header {
  background: lightgray;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.headrer-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
/* Hero Section */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  color: var(--primary-light);
  text-decoration: none;
  text-align: center;
  font-size: 128px;
  /* white-space: nowrap; */
  font-weight: 900;
  margin-bottom: 0;
}
.hero-title .accent {
  color: #819956;
  font-family: 'Poppins', sans-serif;
}
/* Advanteges-section */
.advanteges-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}
.advanteges-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advanteges-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-light);
}
.section-title {
  color: var(--primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.footer-link {
  color: var(--primary-light);
}

/* tradicion section */
.traditions-title {
  margin-bottom: 42px;
}
.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.tradicions-text .brand-uppercase {
  text-transform: uppercase;
  color: var(--color-brand);
  font-weight: 600;
}
.tradicions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}
.tradicions-sections {
  padding-top: 96px;
}
.tradicions-text:nth-child(3) {
  max-width: 340px;
}
.traditions-content {
  max-width: 710px;
}

/* Chef Section */
.chefs-title {
  margin-bottom: 42px;
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
/* Formats section */
.formats-list {
  display: flex;
  gap: 20px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-tex {
  font-size: 14px;
  font-weight: 300;
}
.formats-title {
  margin-bottom: 80px;
}
/* Contact section */
.contacts-title {
  margin-bottom: 16px;
}
/* Footer */
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-light);
}
.address-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand);
  text-decoration: none;
  font-style: italic;
}
.footer-politic {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-light);
  font-style: normal;
  text-decoration: none;
}
.footer-data {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-dark);
}
